<div class="game" data-price="{{price}}">
  <div class="game-contents">
	<div class="game-image-container">
	  <img src="{{photoURL}}" alt="{{description}}">
	</div>
	<div class="game-info-container">
	  <a href="#" class="game-title">{{description}}</a> <span class="game-price">${{price}}</span>
	</div>
  </div>
</div>