<div class="game" data-price="{{price}}">
  <div class="game-contents">
	<div class="game-image-container">
	  <img src="{{boxArt}}" alt="{{gameTitle}}">
	</div>
	<div class="game-info-container">
	  <a href="#" class="game-title">{{gameTitle}}</a> 
	  <span class="game-price">${{price}}</span>
	  <button id="library-add-button" class="library-button">Add</button>
	</div>
  </div>
</div>